<!DOCTYPE html>
{%extends 'testApp/base.html'%}
{%load static%}
{%block content%}
<link rel="stylesheet" href="{% static 'css/course_attainment_style.css' %}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<div class="container" align=left style="width:70%">
  <div class="jumbotron">
    {%include 'testApp/messages.html'%}
    <h1 style = "color: blue; padding-bottom: 10px;">Add Program Specific Outcomes</h1><br>
    <form  method="post"> {%csrf_token%}
      <table border=2 style="width:100%">
        <tr>
          <th><select name="pso" id="pso" style="width: 100px; height:30px;" required>
            <option value="PSO1">PSO1</option>
            <option value="PSO2">PSO2</option>
            <option value="PSO3">PSO3</option>
          </select></th>
          <th><input id='description' type="text" name="description" value="" id="description"  class="form-control" placeholder="Type PSO description...." required></th>
        </tr>
      </table><br>
      <button type="submit" class="btn btn-primary" style="float:right">Add PSO</button>

      <br><br><br> <br><br>
      <table border=2 style="width:100%" style="">
        <tr>
          <th>Program Specific Outcome</th>
          <th>Description</th>
          <th colspan="2">Action</th>
        </tr>
        {%for i in psos%}
        <tr>
          <th style="text-align: center; width: 100px; height:50px;">{{i.pso}}</th>
          <th style="text-align: left;">{{i.description}}</th>
          <th> <a href="{%url 'edit_pso' i.id %}" class="btn btn-info">Edit</a> </th>
        </tr>
        {%endfor%}
      </table><br>
      <br><br>
    </form>
  </div>
</div>
</script>
{%endblock%}
