<!DOCTYPE html>
{%extends 'testApp/base.html'%}
{%load static%}
{%block content%}
<link rel="stylesheet" href="{% static 'css/course_attainment_style.css' %}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<div class="container-fluid" align=left style="width:100%">
  <div class="jumbotron">
      <h1 style = "color: red; padding-bottom: 10px;">Update CO-PO Matrix Values</u></h1>
      {%include 'testApp/messages.html'%}
      <form  method="post"> {%csrf_token%}
        <table border=2 style="width:100%">
          <tr>
            <th>CO↓/PO→</th>
            <th>PO1</th>
            <th>PO2</th>
            <th>PO3</th>
            <th>PO4</th>
            <th>PO5</th>
            <th>PO6</th>
            <th>PO7</th>
            <th>PO8</th>
            <th>PO9</th>
            <th>PO10</th>
            <th>PO11</th>
            <th>PO12</th>
            <th style="border-left: 5px solid black;">PSO1</th>
            <th>PSO2</th>
            <th>PSO3</th>
          </tr>
          {%for i in copolevels%}
          <tr>
            <th>
              <select name="co{{i.id}}" id="co{{i.id}}" style="width: 100px; height:40px;" required>
                <option value="{{i.id}}">{{i.co.co}}</option>
              </select>
            </th>
            <th>
              <select name="{{i.co}}_po1" id="{{i.co}}_po1" style="width: 70px; height:40px;text-align:center;" required>
                <option value=0 {%if i.po1 == '-' %}selected{%endif%}>-</option>
                <option value=1 {%if i.po1 == '1' %}selected{%endif%}>1</option>
                <option value=2 {%if i.po1 == '2' %}selected{%endif%}>2</option>
                <option value=3 {%if i.po1 == '3' %}selected{%endif%}>3</option>
              </select>
            </th>
            <th>
              <select name="{{i.co}}_po2" id="{{i.co}}_po2" style="width: 70px; height:40px;text-align:center;" required>
                <option value=0 {%if i.po2 == '-' %}selected{%endif%}>-</option>
                <option value=1 {%if i.po2 == '1' %}selected{%endif%}>1</option>
                <option value=2 {%if i.po2 == '2' %}selected{%endif%}>2</option>
                <option value=3 {%if i.po2 == '3' %}selected{%endif%}>3</option>
              </select>
            </th>
            <th>
              <select name="{{i.co}}_po3" id="{{i.co}}_po3" style="width: 70px; height:40px;text-align:center;" required>
                <option value=0 {%if i.po3 == '-' %}selected{%endif%}>-</option>
                <option value=1 {%if i.po3 == '1' %}selected{%endif%}>1</option>
                <option value=2 {%if i.po3 == '2' %}selected{%endif%}>2</option>
                <option value=3 {%if i.po3 == '3' %}selected{%endif%}>3</option>
              </select>
            </th>
            <th>
              <select name="{{i.co}}_po4" id="{{i.co}}_po4" style="width: 70px; height:40px;text-align:center;" required>
                <option value=0 {%if i.po4 == '-' %}selected{%endif%}>-</option>
                <option value=1 {%if i.po4 == '1' %}selected{%endif%}>1</option>
                <option value=2 {%if i.po4 == '2' %}selected{%endif%}>2</option>
                <option value=3 {%if i.po4 == '3' %}selected{%endif%}>3</option>
              </select>
            </th>
            <th>
              <select name="{{i.co}}_po5" id="{{i.co}}_po5" style="width: 70px; height:40px;text-align:center;" required>
                <option value=0 {%if i.po5 == '-' %}selected{%endif%}>-</option>
                <option value=1 {%if i.po5 == '1' %}selected{%endif%}>1</option>
                <option value=2 {%if i.po5 == '2' %}selected{%endif%}>2</option>
                <option value=3 {%if i.po5 == '3' %}selected{%endif%}>3</option>
              </select>
            </th>
            <th>
              <select name="{{i.co}}_po6" id="{{i.co}}_po6" style="width: 70px; height:40px;text-align:center;" required>
                <option value=0 {%if i.po6 == '-' %}selected{%endif%}>-</option>
                <option value=1 {%if i.po6 == '1' %}selected{%endif%}>1</option>
                <option value=2 {%if i.po6 == '2' %}selected{%endif%}>2</option>
                <option value=3 {%if i.po6 == '3' %}selected{%endif%}>3</option>
              </select>
            </th>
            <th>
              <select name="{{i.co}}_po7" id="{{i.co}}_po7" style="width: 70px; height:40px;text-align:center;" required>
                <option value=0 {%if i.po7 == '-' %}selected{%endif%}>-</option>
                <option value=1 {%if i.po7 == '1' %}selected{%endif%}>1</option>
                <option value=2 {%if i.po7 == '2' %}selected{%endif%}>2</option>
                <option value=3 {%if i.po7 == '3' %}selected{%endif%}>3</option>
              </select>
            </th>
            <th>
              <select name="{{i.co}}_po8" id="{{i.co}}_po8" style="width: 70px; height:40px;text-align:center;" required>
                <option value=0 {%if i.po8 == '-' %}selected{%endif%}>-</option>
                <option value=1 {%if i.po8 == '1' %}selected{%endif%}>1</option>
                <option value=2 {%if i.po8 == '2' %}selected{%endif%}>2</option>
                <option value=3 {%if i.po8 == '3' %}selected{%endif%}>3</option>
              </select>
            </th>
            <th>
              <select name="{{i.co}}_po9" id="{{i.co}}_po9" style="width: 70px; height:40px;text-align:center;" required>
                <option value=0 {%if i.po9 == '-' %}selected{%endif%}>-</option>
                <option value=1 {%if i.po9 == '1' %}selected{%endif%}>1</option>
                <option value=2 {%if i.po9 == '2' %}selected{%endif%}>2</option>
                <option value=3 {%if i.po9 == '3' %}selected{%endif%}>3</option>
              </select>
            </th>
            <th>
              <select name="{{i.co}}_po10" id="{{i.co}}_po10" style="width: 70px; height:40px;text-align:center;" required>
                <option value=0 {%if i.po10 == '-' %}selected{%endif%}>-</option>
                <option value=1 {%if i.po10 == '1' %}selected{%endif%}>1</option>
                <option value=2 {%if i.po10 == '2' %}selected{%endif%}>2</option>
                <option value=3 {%if i.po10 == '3' %}selected{%endif%}>3</option>
              </select>
            </th>
            <th>
              <select name="{{i.co}}_po11" id="{{i.co}}_po11" style="width: 70px; height:40px;text-align:center;" required>
                <option value=0 {%if i.po11 == '-' %}selected{%endif%}>-</option>
                <option value=1 {%if i.po11 == '1' %}selected{%endif%}>1</option>
                <option value=2 {%if i.po11 == '2' %}selected{%endif%}>2</option>
                <option value=3 {%if i.po11 == '3' %}selected{%endif%}>3</option>
              </select>
            </th>
            <th>
              <select name="{{i.co}}_po12" id="{{i.co}}_po12" style="width: 70px; height:40px;text-align:center;" required>
                <option value=0 {%if i.po12 == '-' %}selected{%endif%}>-</option>
                <option value=1 {%if i.po12 == '1' %}selected{%endif%}>1</option>
                <option value=2 {%if i.po12 == '2' %}selected{%endif%}>2</option>
                <option value=3 {%if i.po12 == '3' %}selected{%endif%}>3</option>
              </select>
            </th>
            <th style="border-left: 5px solid black;">
              <select name="{{i.co}}_pso1" id="{{i.co}}_pso1" style="width: 70px; height:40px;text-align:center;" required>
                <option value=0 {%if i.pso1 == '-' %}selected{%endif%}>-</option>
                <option value=1 {%if i.pso1 == '1' %}selected{%endif%}>1</option>
                <option value=2 {%if i.pso1 == '2' %}selected{%endif%}>2</option>
                <option value=3 {%if i.pso1 == '3' %}selected{%endif%}>3</option>
              </select>
            </th>
            <th>
              <select name="{{i.co}}_pso2" id="{{i.co}}_pso2" style="width: 70px; height:40px;text-align:center;" required>
                <option value=0 {%if i.pso2 == '-' %}selected{%endif%}>-</option>
                <option value=1 {%if i.pso2 == '1' %}selected{%endif%}>1</option>
                <option value=2 {%if i.pso2 == '2' %}selected{%endif%}>2</option>
                <option values=3 {%if i.pso2 == '3' %}selected{%endif%}>3</option>
              </select>
            </th>
            <th>
              <select name="{{i.co}}_pso3" id="{{i.co}}_pso3" style="width: 70px; height:40px;text-align:center;" required>
                <option value=0 {%if i.pso3 == '-' %}selected{%endif%}>-</option>
                <option value=1 {%if i.pso3 == '1' %}selected{%endif%}>1</option>
                <option value=2 {%if i.pso3 == '2' %}selected{%endif%}>2</option>
                <option value=3 {%if i.pso3 == '3' %}selected{%endif%}>3</option>
              </select>
            </th>
          </tr>
          {%endfor%}
        </table><br>
        <input type="submit" name="" value="Submit" class="btn btn-primary btn-lg" style="float:right;">
      </form>
  </div>
</div>

{%endblock%}
